html, body {
  height: 100%
}

.left-form {
  position: absolute;
  width: 40%;
  top: 0;
  left: 0;
  height: 100vh;
}

.blue-swoosh {
  position: absolute;
  width: 60%;
  top: 0;
  right: 0;  
  height: 100vh;
  background-color:rgb(7,21,132);
}